.pagContainer {
  //min-height: 100vh;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  //background: var(--greyLight-2);
  color: var(--greyDark);
  //box-sizing: border-box;
  //font-size: 62.5%; // 1rem = 10px    100% = 16px
  //overflow-y: scroll;
  font-family: "Poppins", sans-serif;
  //letter-spacing: 0.6px;
  //line-height: 1.4;
  -webkit-user-select: none;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  background: #0055FE;
}

ul {
  list-style-type: none;
}

.item {
  //background: #0055FE;
  //width: 10rem;
  //height: 10rem;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--greyDark);
  cursor: pointer;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 3rem;
  border-radius: 0.6rem;
  background: #ffffff;
  box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);

  & .pageNumbers,
  & .pageBtn,
  & .pageDots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
  }

  & .pageDots {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--blueLight);
    cursor: initial;
  }

  & .pageNumbers {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;

    &:hover {
      color: var(--blueLight);
    }

    &.active {
      color: #ffffff;
      background: var(--blueLight);
      font-weight: 600;
      border: 1px solid var(--blueLight);
    }
  }

  & .pageBtn {
    color: var(--blueLight);
    //pointer-events: none;
    cursor: pointer;

    &.active {
      color: var(--greyDark);
      pointer-events: initial;

      &:hover {
        color: var(--blueLight);
      }
    }
  }
}
