ul {
  list-style-type: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--greyDark);
  cursor: pointer;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-bottom: 24px;
  border-radius: 0.6rem;
  background: #ffffff;

  & .pageNumbers,
  & .pageBtn,
  & .pageDots {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    cursor: pointer;
  }

  & .pageDots {
    width: 2rem;
    height: 2.6rem;
    color: var(--blueLight);
    cursor: initial;
  }

  & .pageNumbers {
    width: 1.8rem;
    height: 2rem;
    border-radius: 0.4rem;

    &:hover {
      color: var(--blueLight);
    }

    &.active {
      color: #ffffff;
      background: var(--blueLight);
      font-weight: 600;
      border: 1px solid var(--blueLight);
    }
  }

  & .pageBtn {
    color: var(--blueLight);
    cursor: pointer;
    font-size: 30px;

    &.active {
      color: var(--greyDark);
      pointer-events: initial;

      &:hover {
        color: var(--blueLight);
      }
    }
  }
}
