body {
    font-size: 14px;
    color: #343a40;
}

.App {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "h h" "n c";
}

.app-wrapper-content {
    grid-area: c;
    width: 975px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
